[Desktop Entry]
Name=Mod Manager
Comment= A Qt-based mod manager for minecraft.
Exec=ModManager
Type=Application
Terminal=false
StartupNotify=true
Categories=Game;
Icon=modmanager
